{% extends "base.html" %}
{% block main %}
        {% for x in books %}
        <div class="sample">
        <img src="{{ url_for('static', filename='Images/'+x.img)  }}" alt="Image de {{ x.title }}">
        <ul>
            <li>{{ x.title }}</li>
            <li>{{ x.author }}</li>
            <li>{{ x.price }}</li>
            <li><a href="{{ x.url }}">
                <button>Acheter</button>
            </a></li>
        </ul>
        {% endfor %}
    </div>
{% endblock %}